client-server/node_modules
client-server/client/node_modules
client-server/build
client-server/package-lock.json

client/package-lock.json

room-service/package-lock.json
room-service/node_modules

backend/node_modules
backend/package-lock.json

.DS_Store
node_modules
.eslintcache

