body {
	color:#121212;
    background-color:#121212;
}

div {
    font-family:Trebuchet MS, Helvetica, sans-serif;
    font-size:50px;
    text-align: center;
    color: white;
}

.buttoncss {
    color: #ffffff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #121212;
    padding: 20px;
    border: 4px solid #ffffff !important;
    display: inline-block;
    transition: all 0.4s ease 0s;
    }

    .buttoncss:hover {
        color: #121212 !important;
        background: #ffffff;
        border-color: #121212 !important;
        transition: all 0.4s ease 0s;
        }
        
        .modal {
            position: fixed;
            top: 0;
            left: 0;
            width:100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.6);
          }
          
          .modal-main {
            position:fixed;
            background: white;
            width: 80%;
            height: auto;
            top:50%;
            left:50%;
            transform: translate(-50%,-50%);
          }
          
          .display-block {
            display: block;
          }
          
          .display-none {
            display: none;
          }