.lobbyUsersTitle {
  font-family: Trebuchet MS, Helvetica, sans-serif;
  color: pink;
}

.lobbyUsersSection{
  position: "fixed";
  width: "10%";
  height: "100%";
  bottom: 0;
  left: "80%";
  background: "rgb(40, 40, 40)";
  z-Index: 2000;


}