.song-sider-container {
  display: flex;
  width: 40%;
  margin: 0 auto;
  align-items: center;
  margin-top: 0px;
  background-color: rgb(0, 0, 0);
  color: white; }
  .song-sider-container span {
    font-size: 10px;
    color: rgb(255, 255, 255); }
    .-container span:first-of-type {
      padding-right: 4px; }
    .song-sider-container span:last-of-type {
      padding-left: 4px; }
      .song-sider-container .song-sider {
        margin: 0 auto;
        width: 90%;
        height: 4px;
        background-color: rgb(54, 54, 54);
        transition: width 0.1s;
        border-radius: 4px; }
    .song-sider-container .song-sider .position-sider {
      background-color: rgb(255, 255, 255); }

.player-container .details-section {
  left: 20px;
  top: 7px; }

.player-container .song-name {
  color: rgb(255, 255, 255);
  font-size: 14px;
  margin-bottom: 10px;
  text-overflow: ellipsis;
  overflow: hidden; }

.player-container .song-control .fa {
  padding: 0px 20px;
  color: rgb(255, 255, 255); }
  .player-container .song-control .fa:hover {
    color:rgb(158, 154, 154); }

.song-control {
  justify-content: center;
  display: flex;
  margin-top: 20px; }

.control-btn {
  justify-content: center;
  display: flex; }

.control-btn.play-btn {
  position: relative;
  top: -10px;
  font-size: 35px;
 }
  .control-btn.play-btn:hover {
    font-size: 39px;
    margin: -2px -2px; }
  .control-btn.play-btn:active {
    font-size: 35px;
    margin: 0px 0px; }


